body {
    font-size: 125%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}